/* h1{
    font-size: 100px; color: cornflowerblue;
    background-color: darkblue;
} */

p{
    font-size: 75px; color: coral;
}

/* *{
    font-size: 100px; color: rgb(105, 237, 100);
    background-color: rgb(139, 0, 116); 
} */
#hello{
    font-weight: bold;
}

.hi{
    font-style: italic;
}

h2,h3{
    color: darkcyan;
}