.aboutMenu a {
  margin: 0;
  padding: 0;
}

main {
  padding-top: 5vh;
}
table {
  margin: 0 auto;
  width: 700px;
  padding: 10vh;
  text-align: left;
  letter-spacing: 5px;
}
.notice {
  height: 60px;
}
th {
  font-family: "Bangers", cursive;
  font-size: 30px;
  height: 60px;
}
.title {
  font-size: 80px;
}

input {
  border: 1px solid rgba(00, 00, 00, 0.3);
  border-radius: 5px;
  width: 250px;
  height: 30px;
  color: black;
  font-family: "Rajdhani", sans-serif;
  padding-left: 5px;
  letter-spacing: 5px;
  font-size: 25px;
}
button {
  border: none;
  background-color: rgba(00, 00, 00, 0);
  color: #8d192b;
  font-family: "Bangers", cursive;
  font-size: 30px;
  letter-spacing: 5px;
}
button,
.button {
  cursor: pointer;
}
